.section_cta {
  padding: 12.8rem 0;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.cta_text_box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.heading_secondary {
  font-size: 4.4rem;
  font-weight: 700;
  /* color: #333; */
  letter-spacing: -0.5px;
  line-height: 1.2;
  /* margin-bottom: 9.6rem; */
  margin-bottom: 3.2rem;
}

.cta_text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta_img_box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../../img/cta.jpg");
  background-size: cover;
  background-position: center;
}

.cta_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta_form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta_form input,
.cta_form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta_form input::placeholder {
  color: #aaa;
}

.btn {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  color: #fdf2e9;
  background-color: #45260a;
  align-self: end;
  padding: 1.2rem;
  border-radius: 9px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #fff;
  color: #555;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/**************************/
/* BELOW 1200px (Landscape Tablets) 1200px / 16px = 75em */
/**************************/

@media (max-width: 75em) {
  .heading_secondary {
    font-size: 3.6rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) 944px / 16px = 59em */
/**************************/

@media (max-width: 59em) {
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta_form {
    grid-template-columns: 1fr;
  }
  .btn {
    margin-top: 1.2rem;
  }
}

/**************************/
/* BELOW 544px (Phones) 544px / 16px = 34em */
/**************************/

@media (max-width: 34em) {
  .cta {
    grid-template-columns: 1fr;
  }
  .cta_img_box {
    height: 32rem;
    grid-row: 1;
  }
  .cta_text_box {
    padding: 3.2rem;
  }
}
