.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.container_grid__5_cols {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.logo_col {
  display: flex;
  flex-direction: column;
}

.logo_link {
  display: block;
  margin-bottom: 3.2rem;
}

.logo_link:link,
.logo_link:visited {
  text-decoration: none;
  border-bottom: 2px solid #e67e22;
}

.logo {
  font-size: 2.2rem;
  font-weight: 700;
  color: #333;
  letter-spacing: 0.5px;
}
.logo span {
  color: #e67e22;
}

.social_links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer_heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer_nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer_link:link,
.footer_link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer_link:hover,
.footer_link:active {
  color: #555;
}

/* .container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid__5_cols {
  grid-template-columns: repeat(5, 1fr);
} */

/**************************/
/* BELOW 1200px (Landscape Tablets) 1200px / 16px = 75em */
/**************************/

@media (max-width: 75em) {
  .container_grid__5_cols {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) 704px / 16px = 44em */
/**************************/

@media (max-width: 44em) {
  .container_grid__5_cols {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo_col,
  .address_col {
    grid-column: span 3;
  }
  
  .nav_col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}
